*{
    margin: 0px;
}

body{
    width: 100%;
    height: 100%;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;
}
.content h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10vh;
    width: 100%;
    height: auto;
    text-align: center;
}


